body{
    background:"colores.webp";
 background-size: cover;
}
h1{
    color: rgb(90, 30, 210);
    background:linear-gradient(0deg, rgb(3, 182, 72) 0%, rgb(5, 177, 148) 35%, rgb(0, 255, 187) 100%);
}
#show_steck
{
    float: right;
}
p{
    padding-top:10px;
    font-size: 30px;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px rgb(237, 29, 237);}
    to{box-shadow: 1px 1px 38px white;}
}
